.main-header .container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  nav {
    justify-self: end;
    a {
      margin-left: 1rem;
      text-decoration: none;
      color: black;
    }
    button {
      border: none;
      display: inline-block;
      cursor: pointer;
      margin-left: 1rem;
      font-size: 1rem;
    }
  }
}
