#contacts {
  input {
    display: block;
    width: 100%;
    padding: 0.5rem 0rem;
    height: 50px;
    margin-bottom: 1rem;
    text-indent: 20px;
    font-size: 1.2rem;
  }
  button {
    background-color: green;
    cursor: pointer;
    padding: 1rem 0rem;
    font-size: 1.2rem;
  }
}
